@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;1,500&display=swap');
:root{
    --primary-font:"Quicksand", serif;
    --secondary-font:"Raleway", serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    
    overflow-x: hidden;
    
    
}

img, div{
    max-width: 100%;
}
a{
    text-decoration: none;
}

li{
    list-style: none;
}
.container{
    width: 1160px;
    margin: 0 auto;
}
.display-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
marquee{
    font-size: 32px;
    color: #8700FF;
    font-style: italic;
}
        /* header section starts*/
.logo-menu-button{
    margin:20px 0px 20px 0px; 
    gap: 186px;
    
}
.logo-name{
    gap: 11px;
}
.name h2{
    font-family: var(--primary-font);
    font-size: 32px;
}
ul{
    gap: 32px;
    font-family: var(--primary-font);
}

.home-orange{
    color: orange;
    font-weight: 700;
    font-size: 20px;
    
}
.home-blue{
    color: skyblue;
    font-weight: 500;
    font-size: 20px;
}
.home-green{
    color: #05D4DF;
    font-weight: 500;
    font-size: 20px;
}

.home-violet{
    color: #5D58EF;
    font-weight: 500;
    font-size: 20px;
}
.header-button{
    width: 200px;
    height: 50;
    border-radius: 12px;
    border: none;
    padding: 10px;
    background-color: orange;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    font-family: var(--primary-font);
}
.menu-icon{
    display: none;
}


        /* header section ends */
        /* header section responsive */

        @media(max-width:1164px){
            .logo-menu-button{
                justify-content: center;
                gap: 90px;
            }

        }
        @media(max-width:992px){
            .logo-menu-button{
                justify-content: center;
                gap: 45px;
                font-size: 24px;
            }

        }
        @media(max-width:576px){
            .container{
                width: auto;
            }
            .menu{
                display: none;
            }
            .header-button{
                display: none;
            }
            
            .menu-icon{
                display: inline-block;
                width: 30px;
                height: 30px;
                font-size: 24px;
            }
            .logo-menu-button{
                gap: 300px;
                width: 100%;
                margin: 0px auto;
                box-sizing: border-box;
                padding: 12px 16px;
                border-bottom: 1px solid orange;;
            }
            .name{
                display: none;
            }
            
            .display-flex{
                justify-content: space-evenly;
            }
        }

        /* main section starts  */
    
        /* hero section starts */
    .hero-section{
        gap: 40px;

    }
    
    .hero-left{
        width: 600px; 
        flex-direction: column;
        gap: 24px;
        align-items: flex-start;
        font-family: var(--primary-font);
        font-weight: 700;
    }
    .hero-title{
        font-size: 58px;
        line-height: 61px;
        font-weight: 700;
    }
    .orange{
        color: orange;
    }
    .skyblue{
        color: skyblue;
    }
    .hero-description{
        width: 650px;
        font-weight: 400;
        font-size: 20px;
    }
    .enroll-button{
        width: 200px;
        height: 50px;
        border-radius: 12px;
        border: none;
        padding: 10px;
        background-color: black;
        color: #FFFFFF;
        font-size: 20px;
        font-weight: 600;
        font-family: var(--primary-font);
    }
        /* hero section ends */
        /* hero section responsive */
        @media(max-width:1164px){
         .hero-section{
            gap:0;
            
         }

         .hero-left{
            padding-left: 40px;
         }
         .hero-description{
            width: 500px;
            font-weight: 400;
            font-size: 20px;
        }
        .hero-right{
            padding-right: 40px;
        }

        }
        @media(max-width:992px){

        }
        @media(max-width:576px){
            .hero-section{
                flex-direction: column-reverse;
                
            }
            .hero-left{
                text-align: center;
                justify-content: center;
                align-items: center;
                width: 400px; 
                padding-left: 0;
                padding-top: 20px; 
            }
            .hero-right{
                padding-right: 10px;
            }
            .hero-description{
                
                width: 350px;
                height:60px;
                font-size: 14px;
                font-weight: 500;
                
                
            }
            .hero-title{
                font-size: 32px;
                line-height: 40px;
                padding:0 10px;
            }
            .orange{
                padding: 30px;
            }
            

        }
        /* curriculam section starts */
        .curriculam{
            width: 100%;
            background-image: url(./assets/bg.png);
            background-position: 45% 20%;
            background-size: 60%;
        }
        .single-curriculam-kinder{
            background: linear-gradient(180deg, #DEF5FF 0%, rgba(255, 255, 255, 0) 40%), #FFFFFF;
            flex-direction: column;
            gap: 32px;
            width: 368px;
            /* height: 478px; */
            border-radius: 19px;
            border:1px solid #DEF5FF;
            padding: 52px 40px;
        }
        .single-curriculam-elementary{
            background: linear-gradient(180deg, #FFF4DC 0%, rgba(255, 255, 255, 0) 40%), #FFFFFF;
            flex-direction: column;
            gap: 32px;
            width: 368px;
            /* height: 478px; */
            border-radius: 19px;
            border:1px solid #DEF5FF;
            padding: 52px 40px;
        }
        .single-curriculam-violet{
            background: linear-gradient(180deg, #EEE1FF 0%, rgba(255, 255, 255, 0) 40%), #FFFFFF;
            flex-direction: column;
            gap: 32px;
            width: 368px;
            /* height: 478px; */
            border-radius: 19px;
            border:1px solid #DEF5FF;
            padding: 52px 40px;
        }
        .section-title{
            font-family: var(--primary-font);
            font-size: 46px;
            font-weight: 700;
            text-align: center;
            margin-top: 60px;
            margin-bottom: 80px;
        }
        .curriculam-title{
            font-family: var(--primary-font);
            font-size: 24px;
            font-weight: 700;
            line-height: 30px;
            
        }
        .curriculam-description{
            font-family: var(--secondary-font);
            font-size: 16px;
            font-weight: 500;
            line-height: 28px;
            text-align: center;
            width: 320px;
        }   
        .read-more-blue a{
            color:#64C8FF;
            font-family: var(--primary-font);
            font-weight: 700;
            font-size: 16px;
        }

        .read-more-orange a{
            color:#F0AA00;
            font-family: var(--primary-font);
            font-weight: 700;
            font-size: 16px;
        }
        .read-more-violet a{
            color:#8700FF;
            font-family: var(--primary-font);
            font-weight: 700;
            font-size: 16px;
        }

        .standard-curriculam{
            margin-bottom: 80px;
        }
        .double-arrow{
            margin: 0 auto;
            justify-content: center;
            align-items: center;
            gap: 10px;

        }
        .left-arrow{
            background-color: orange;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            justify-content: center;
            align-items: center;
        }
        .left-arrow:hover{
            background-color: #64C8FF;
        }
        .right-arrow{
            background-color: orange;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            justify-content: center;
            align-items: center;
        }
        .right-arrow:hover{
            background-color: #64C8FF;
        }
        /* curriculam section ends */
        /* curriclam section responsive */
        @media(max-width:992px){
            .standard-curriculam{
                flex-wrap: wrap;
                justify-content: center;
            }
        }
        @media(max-width:576px){
        .standard-curriculam{
            flex-direction: column;
        }
        }
        /* story section starts */
        .story-section{
            width: 100%;
            background:linear-gradient(360deg, rgba(254, 163, 1, 0.3) 0%, rgba(255, 255, 255, 0.3) 100%), url(./assets/bg.png);    
            background-size: cover; 
            background-position: center; 
            background-repeat: no-repeat;
        }

        .stories-title{
            text-align: center;
            margin-top: 60px;
            margin-bottom: 80px;
            font-family: var(--primary-font);
            font-size: 46px;
            font-weight: 700;
        }
        .gallery{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: repeat(2,1fr);
            grid-gap:17px;
            /* border: 2px solid black; */
        }
        .box{
            border-radius: 16px;
            background-color: #FFFFFF;

        }
        .box img{
            border-radius: 16px 16px 0 0;
        }
        #box-1{
            grid-row: span 2;
            width: 540px;
            height: 630px;
            position: relative;
        }
        .story-button-one{
            background-color: #05D4DF;
            color:#FFFFFF;
            width: 174px;
            height: 47px;
            font-family: var(--secondary-font);
            font-size: 16px;
            font-weight: 500;
            border-radius: 47px;
            border: none;
            margin-left: 38px;
            position: absolute;
            top: 50%;
        }
        #box-2{
            position: relative;
        }
        .story-button-two{
            background-color: #95B226;
            color:#FFFFFF;
            width: 174px;
            height: 47px;
            font-family: var(--secondary-font);
            font-size: 16px;
            font-weight: 500;
            border-radius: 47px;
            border: none;
            position: absolute;
            left:38px;
            top:50%
        }
        #box-4{
            position: relative;
        }

        #box-3{
            position:relative;
        }
        .story-button-three{
            background-color: #5D58F0;
            color:#FFFFFF;
            width: 174px;
            height: 47px;
            font-family: var(--secondary-font);
            font-size: 16px;
            font-weight: 500;
            border-radius: 47px;
            border: none;
            position: absolute;
            left:38px;
            top:50%
        }
        #box-5{
            position: relative;
        }
        .story-button-four{
            background-color: #95B226;
            color:#FFFFFF;
            width: 127px;
            height: 38px;
            font-family: var(--secondary-font);
            font-size: 16px;
            font-weight: 500;
            border-radius: 47px;
            border: none;
            position: absolute;
            left:38px;
            top:53%;
        }

        .story-title{
            font-family: var(--primary-font);
            font-size: 24px;
            font-weight: 700;
            width: 463px;
            height:76px;
            padding:58px 36px 48px 36px;
        }
        .story-description{
            font-family: var(--secondary-font);
            font-size: 16px;
            font-weight: 500;
            padding:48px 68px 34px 38px;
            display: block;
        }
        .small-story{
            font-family: var(--primary-font);
            font-size: 16px;
            font-weight: 700;
            padding:43px 50px 33px 34px;
        }
        .view-all-button{
            width: 200px;
            height: 50px;
            border-radius: 12px;
            border: none;
            padding: 10px;
            background-color: black;
            color: #FFFFFF;
            font-size: 20px;
            font-weight: 600;
            font-family: var(--primary-font);
            margin: 80px auto 60px;
            
        }

        .modify{
            flex-direction:column;
        }
        #box-6{
            display: none;
            position: relative;
        }
        .story-button-six{
            background-color: #5D58F0;
            color:#FFFFFF;
            width: 174px;
            height: 47px;
            font-family: var(--secondary-font);
            font-size: 16px;
            font-weight: 500;
            border-radius: 47px;
            border: none;
            position: absolute;
            left:30px;
            top:40%;
        }

        #box-7{
            display: none;
            position: relative;
        }
        .story-button-seven{
            background-color: #5D58F0;
            color:#FFFFFF;
            width: 174px;
            height: 47px;
            font-family: var(--secondary-font);
            font-size: 16px;
            font-weight: 500;
            border-radius: 47px;
            border: none;
            position: absolute;
            left:30px;
            top:40%;
        }
        /* story section ends */
        /* story section responsive */
        
        @media(max-width:768px){
            body{
                width: 100%;
                overflow-x: hidden;
            }
            .story-button-three{
                left:30px;
                top: 40%;
            }
            .story-button-two{
                left:30px;
                top:42%;
            }
            .story-button-four{
                left:30px;
                top:43%;
            }
            

            .gallery{
                grid-template-columns: repeat(3,1fr);
                grid-template-rows: repeat(2,1fr);
                padding: 0 20px;
            }
            #box-6{
                display: inline-block;
            }
            #box-1{
                display: none;
            }
            #box-7{
                display: inline-block;
            }
            .box img{
                width: 100%;
            }
        }
        @media(max-width:686px){
            .story-button-three{
                left:15px;
                top: 38%;
            }
            .story-button-two{
                left:15px;
                top:38%;
            }
            .story-button-four{
                left:15px;
                top:38%;
            }
            .story-button-six{
                left:15px;
                top:38%;
            }

            .story-button-seven{
                left:15px;
                top:38%;
            }
        }
        @media(max-width:640px){
            .story-button-three{
                left:8px;
                top: 34%;
            }
            .story-button-two{
                left:8px;
                top:34%;
            }
            .story-button-four{
                left:8px;
                top:34%;
            }
            .story-button-six{
                left:8px;
                top:34%;
            }

            .story-button-seven{
                left:8px;
                top:34%;
            }
        }

        @media(max-width:576px){
            .gallery{
                grid-template-columns: repeat(2,1fr);
                grid-template-rows: repeat(3,1fr);
            }

            #box-1{
                display: none;
            }
            body{
                overflow-x: hidden;
            }

            .story-button-three{
                width: 122px;
                height: 22px;
                font-size: 9px;
                left:23px;
                top:52%;
            }
            .story-button-two{
                width: 122px;
                height: 22px;
                font-size: 9px;
                left:23px;
                top:52%;
            }
            .story-button-four{
                width: 122px;
                height: 22px;
                font-size: 9px;
                left:23px;
                top:52%;
            }
            .story-button-six{
                width: 122px;
                height: 22px;
                font-size: 9px;
                left:23px;
                top:52%;
            }

            .story-button-seven{
                width: 122px;
                height: 22px;
                font-size: 9px;
                left:23px;
                top:52%;
            }
            .small-story{
                padding: 43px 50px 33px 24px;
            }
        }
        /* main section ends */
        /* footer section starts */
        .footer-section{
            width:100%;
            height: 519px;
            background-color: #01ACFD;
        }
        .footer{
            display: flex;
            padding-top: 124px;
            gap: 172px;
            height: 222px;
            
        }
        .logo-with-name{
            justify-content: flex-start;
            gap: 11px;
        }
        .kids-education h2{
            font-family: var(--primary-font);
            font-size: 42px;
            font-weight: 700;
            line-height: 40px;
            color: #FFFFFF;
            width: 206px;
        }
        .footer-left{
            display: flex;
            align-items: flex-start;
        }
        .footer-content{
            gap: 36px;
            flex-direction: column;
            align-items: flex-start;

        }
        .summary{
            font-family: var(--primary-font);
            width:400px;
            font-size: 20px;
            font-weight: 400;
            line-height: 40px;
            color: #FFFFFF;
        }

        .footer-right{
            justify-content: center;
            align-items: center;
            gap: 143px;
            
            
        }
        .menu-head{
            font-family: var(--primary-font);
            font-size: 24px;
            font-weight: 700;
            color: #FFFFFF;
            margin-bottom: 32px;
            margin-top: 123px;
        }
        .footer-menu-list ul{
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
        .footer-menu-list ul li a{
            color: #FFFFFF;
            font-size: 20px;
            font-weight: 500;
            
        }


        .social-head{
            color: #FFFFFF;
            margin-bottom: 32px;
            font-family: var(--primary-font);
            font-weight: 700;
            font-size: 24px;
        }
        
        .footer-icon{
            gap: 10px;
        }
        /* footer section ends */
        /* footer section responsive */
        @media(max-width:576px){
        .footer{
           display: flex;
           flex-direction: column;
           box-sizing: border-box;
           /* justify-content: flex-start; */
           align-items: flex-start;
           background: #01ACFD;
           gap: 0;
           height:100%;
           padding: 65px 20px 60px 20px;
           
        }
        .footer-right{
            flex-direction: column;
            gap:32px;
            margin-left: 0;
            align-items: flex-start;
            padding-left: 10px;
        }
        .menu-head{
            margin-top: 20px;
        }
        .footer-left{
            padding-left: 10px;
        }
        .summary{
            width: 357px;
        }
        
    }